body {
  margin: 0px;
  padding: 0px;
}

body div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body div::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
textarea.form-control {
	resize: none;
}
body div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

body > div {
  height: 100vh;
  max-width: 100vw;
  background-repeat: repeat-x;
  background-color: rgb(98, 162, 112);
  background-image: url(/media/background.png);
}

.form {
  z-index: 1;
  padding: 45px;
  color: white;
  font-size: 14px;
  max-width: 320px;
  position: relative;
  text-align: center;
  margin: 0 auto 0px;
  background: mediumpurple;
  background-repeat: no-repeat !important;
  background-image: url(/media/pokeball-partial.png) !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  margin: 0 0 15px;
  background: #f2f2f2;
  box-sizing: border-box;
  font-family: "Open Sans Light", "Open Sans", sans-serif;
}

.form button {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  background: blueviolet;
  transition: all 0.3 ease;
  text-transform: uppercase;
  -webkit-transition: all 0.3 ease;
  font-family: "Open Sans Light", "Open Sans", sans-serif;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form .message {
  color: white;
  font-size: 12px;
  margin: 15px 0 0;
}

.form .message a {
  color: aquamarine;
  text-decoration: none;
}
